<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groups • Opinion</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background: #000;
        color: #fff;
        flex-direction: column;
        text-align: center;
        padding: 0;
      }
    </style>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h2>FUNÇÃO DE GRUPOS EM BREVE !!</h2>
    <p>
      A criação dessa função requer uma pequena quantidade de verba. Pedimos
      paciência para o desenvolvimento dessa funcionalidade, que fará pessoas
      falarem sobre os mesmos interesses
    </p>
    <footer class="nav-footer">
      <nav>
        <a href="{{ url_for('feed') }}">
          <img
            src="{{ url_for('static', filename='images/home.png') }}"
            alt="Feed"
            class="icone"
          />
        </a>
        <a href="{{ url_for('search') }}">
          <img
            src="{{ url_for('static', filename='images/search.png') }}"
            alt="Search"
            class="icone"
          />
        </a>

        <a href="{{ url_for('trending') }}">
          <img
            src="{{ url_for('static', filename='images/12.png') }}"
            alt="Trending"
            class="icone"
          />
        </a>
        <a href="{{ url_for('groups') }}">
          <img
            src="{{ url_for('static', filename='images/groups.PNG') }}"
            alt="Groups"
            class="icone"
          />
        </a>
        <a href="{{ url_for('perfil') }}">
          <img
            src="{{ url_for('static', filename='images/perfil.png') }}"
            alt="Perfil"
            class="icone"
          />
        </a>
      </nav>
    </footer>
  </body>
</html>
