<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=2">
</head>

<body>
    <nav class="navbar">
        <ul class="nav-items">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('search') }}">Search</a></li>
            <li><a href="{{ url_for('faq') }}">Faq</a></li>
        </ul>
    
        <div class="user-info">
            <a href="{{ url_for('perfil') }}">
                <img src="{{ url_for('static', filename='WebSite Icon.png') }}" alt="User Profile">
            </a>
            <p>{{ user }}</p>
        </div>
    </nav>    
</body>
</html>
