<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=2">
</head>

<body>
    <nav class="navbar">
        <ul class="nav-items">
            <li><a href="index.html">Home</a></li>
            <li><a href="search.html">Search</a></li>
            <li><a href="faq.html">Faq</a></li>
        </ul>

        <div class="user-info">
            <a href="perfil.html">
                <img src="WebSite Icon.png" alt="User Profile">
            </a>
            <p>{{ user }}</p>
        </div>
    </nav>
</body>
</html>
