<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login • Opinion</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h2>Bem-vindos a Opinion</h2>
      <form method="POST" action="{{ url_for('login') }}">
        <label for="email"></label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          required
        />

        <label for="senha"></label>
        <input
          type="password"
          id="senha"
          name="senha"
          placeholder="Senha"
          required
        />

        <button type="submit">Login</button>
      </form>
      <p>
        Ainda NÃO tem conta? <a href="{{ url_for('register') }}">Registrar</a>
      </p>
    </div>
    <script>
      window.addEventListener("load", function () {
        // Adiciona um estado ao histórico quando a página carrega
        history.pushState(null, document.title, location.href);

        // Adiciona um listener para o evento 'popstate' (disparado ao navegar no histórico, ex: botão de voltar)
        window.addEventListener("popstate", function (event) {
          // Recarrega a página atual
          location.reload();
        });
      });
    </script>
  </body>
</html>
