<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Perfil • Opinion</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
        <div class="nav-top">Perfil • Opinion</div>
    <footer class="nav-footer">
      <nav>
        <a href="{{ url_for('feed') }}">
          <img
            src="{{ url_for('static', filename='images/home.png') }}"
            alt="Feed"
            class="icone"
          />
        </a>
        <a href="{{ url_for('search') }}">
          <img
            src="{{ url_for('static', filename='images/search.png') }}"
            alt="Search"
            class="icone"
          />
        </a>

        <a href="{{ url_for('trending') }}">
          <img
            src="{{ url_for('static', filename='images/trending.PNG') }}"
            alt="Trending"
            class="icone"
          />  
        </a>
        <a href="{{ url_for('groups') }}">
          <img
            src="{{ url_for('static', filename='images/groups.PNG') }}"
            alt="Groups"
            class="icone"
          />
        </a>
        <a href="{{ url_for('perfil') }}">
          <img
            src="{{ url_for('static', filename='images/perfil.png') }}"
            alt="Perfil"
            class="icone"
          />
        </a>
      </nav>
    </footer>

      <hr />
      <p><strong>Apelido:</strong> {{ apelido }}</p>
      <p><strong>Idade:</strong> {{ idade }}</p>
      <a href="{{ url_for('logout') }}" onclick="return confirmarLogout()">Sair</a>
      
      <scirpt>
        <script>
        function confirmarLogout() {
          return confirm("Tem certeza que deseja sair da conta?");
        }
      </script>

      </scirpt>
    </div>
  </body>
</html>
