<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Perfil • Opinion</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
        <div class="container config-container">
    <form action="{{ url_for('settings') }}" method="POST" class="form-card">
      <h2>Editar Biografia</h2>
      <div class="field">
        <textarea
          name="bio"
          rows="5"
          cols="40"
          maxlength="255"
          placeholder="Escreva sua biografia aqui..."
        >
{{ usuario.bio or '' }}</textarea
        >
      </div>
    <div class="buttons-row">
      <button type="submit" class="button-name">Salvar Alterações</button>
      <button type="button" class="button-cancel" onclick="cancelEdit()">Cancelar</button>
    </div>
    </form>
    <script>
  function cancelEdit() {
    if (confirm("Tem certeza que deseja cancelar? As alterações não serão salvas.")) {
      window.location.href = "{{ url_for('perfil', usuario_id=usuario.id) }}";
    }
  }
</script>
  </body>
</html>
