<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Registro</h2>
    <form method="POST" enctype="multipart/form-data">
        <input type="text" name="nome" placeholder="Nome" required><br>
        <input type="number" name="idade" placeholder="Idade" required><br>
        <select name="sexualidade" required>
            <option value="Homem">Homem</option>
            <option value="Mulher">Mulher</option>
            <option value="Outro">Outro</option>
        </select><br>
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="password" name="senha" placeholder="Senha" required><br>

<!-- Campo para upload da foto -->
        <label for="foto">Foto de Perfil</label>
        <input type="file" name="foto" accept="image/*" required><br>

        <button type="submit">Registrar</button>
    </form>
    <a href="{{ url_for('login') }}">Já tem uma conta? Faça login</a>
</body>
</html>
