<!DOCTYPE html>
<html>
  <head>
    <title>Registro</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h2>Registro</h2>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul>
      {% for category, msg in messages %}
      <li style="color: red">{{ msg }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <form method="POST">
      {{ form.hidden_tag() }} {{ form.name.label }} {{ form.name(size=32) }}<br />
      {{ form.surname.label }} {{ form.surname(size=32) }}<br />
      {{ form.nickname.label }} {{ form.nickname(size=32) }}<br />
      {{ form.email.label }} {{ form.email(size=32) }}<br />
      {{ form.age.label }} {{ form.age() }}<br />
      {{ form.password.label }} {{ form.password(size=32) }}<br />
      <button type="submit">Registrar</button>
    </form>
    <p><a href="{{ url_for('login') }}">Já tenho conta</a></p>
  </body>
</html>
