<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Registrar</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <nav>
      <a href="{{ url_for('login') }}">Login</a> |
      <a href="{{ url_for('register') }}">Registrar</a>
    </nav>
    <hr />

    <h2>Registrar</h2>
    <form method="POST" action="{{ url_for('register') }}">
      {{ form.hidden_tag() }}
      <p>{{ form.nome.label }}<br />{{ form.nome(size=32) }}</p>
      <p>{{ form.sobrenome.label }}<br />{{ form.sobrenome(size=32) }}</p>
      <p>{{ form.apelido.label }}<br />{{ form.apelido(size=32) }}</p>
      <p>{{ form.email.label }}<br />{{ form.email(size=32) }}</p>
      <p>{{ form.idade.label }}<br />{{ form.idade() }}</p>
      <p>{{ form.password.label }}<br />{{ form.password(size=32) }}</p>
      <p>{{ form.password2.label }}<br />{{ form.password2(size=32) }}</p>
      <p>{{ form.submit() }}</p>
    </form>

    <p><a href="{{ url_for('login') }}">Já tem conta? Entre aqui</a></p>
  </body>
</html>
