<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Configurações • Opinion</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container config-container">
      <h1>Configurações</h1>
      <hr />
      <div class="options-container">
        <a href="{{ url_for('terms') }}" class="option-link">
          Termos e Diretrizes
        </a>
        <a
          href="{{ url_for('logout') }}"
          onclick="return confirmarLogout()"
          class="option-link btn-sair"
        >
          Sair
        </a>
      </div>
    </div>

    <script>
      function confirmarLogout() {
        return confirm("Tem certeza que deseja sair da conta?");
      }
    </script>
  </body>
</html>
