<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trending • Opinion</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="nav-top">Trends • Opinion</div>

    <h3
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
      "
    >
      <img src="static/images/trending.PNG" alt="Ícone" class="bubble-img" />
      Opiniões mais virais:
    </h3>

    <div class="container">
      {% for item in posts[:10] %}
      <div class="post-container {% if item.is_viral %}viral-post{% endif %}">
        <div class="user-box">
          <a href="{{ url_for('perfil', usuario=item.post.autor.apelido) }}">
            {% if loop.index <= 3 %} {{ loop.index }} - {% endif %} {{
            item.post.autor.apelido }}
          </a>
        </div>

        <div
          class="post-content {% if item.post.user_id != session['user_id'] %}post-outro{% endif %}"
        >
          {{ item.post.texto|e }}
          <br />
          <small>{{ item.tempo }}</small>
          <div class="post-acoes">
            <a href="{{ url_for('ver_post', post_id=item.post.id) }}"
              >Ver post</a
            >
          </div>
        </div>
      </div>
      <hr />
      {% endfor %}
    </div>

    <footer class="nav-footer">
      <nav>
        <a href="{{ url_for('feed') }}">
          <img
            src="{{ url_for('static', filename='images/home.png') }}"
            alt="Feed"
            class="icone"
          />
        </a>
        <a href="{{ url_for('search') }}">
          <img
            src="{{ url_for('static', filename='images/search.png') }}"
            alt="Search"
            class="icone"
          />
        </a>
        <a href="{{ url_for('trending') }}">
          <img
            src="{{ url_for('static', filename='images/trending.PNG') }}"
            alt="Trending"
            class="icone bubble-img"
          />
        </a>
        <a href="{{ url_for('groups') }}">
          <img
            src="{{ url_for('static', filename='images/groups.PNG') }}"
            alt="Groups"
            class="icone"
          />
        </a>
        <a href="{{ url_for('perfil') }}">
          <img
            src="{{ url_for('static', filename='images/perfil.png') }}"
            alt="Perfil"
            class="icone"
          />
        </a>
      </nav>
    </footer>
    <script>
      let lastScroll = 0;
      const navFooter = document.querySelector(".nav-footer");

      if (navFooter) {
        window.addEventListener("scroll", () => {
          const currentScroll = window.pageYOffset;
          const descendo = currentScroll > lastScroll;

          if (descendo) {
            // Esconde o footer
            navFooter.style.transform = "translateY(100%)";
          } else {
            // Mostra o footer
            navFooter.style.transform = "translateY(0%)";
          }

          lastScroll = currentScroll;
        });
      }
    </script>
  </body>
</html>
