<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Comentários • Opinion</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container" style="padding-top: 60px">
      <button
        onclick="window.location='{{ url_for('feed') }}'"
        class="btn-voltar"
      >
        Voltar
      </button>

      <h2>Opinião de {{ post.autor.apelido }}:</h2>

      <div class="post-container">
        <div class="user-box">
          <a href="{{ url_for('perfil', usuario=post.autor.apelido) }}"
            >{{ post.autor.apelido }}</a
          >
        </div>

        <div class="post-content">
          {{ post.texto }}
          <br />
          <small>{{ tempo }}</small>

          <div class="post-acoes">
            <a
              href="{{ url_for('like_post', post_id=post.id) }}"
              class="like-link"
            >
              {% if liked %}
              <img
                src="{{ url_for('static', filename='images/heart y.png') }}"
                class="icone"
              />
              {% else %}
              <img
                src="{{ url_for('static', filename='images/heart n.webp') }}"
                class="icone"
              />
              {% endif %}
            </a>
            <span class="like-count">{{ likes_count }}</span>
          </div>
        </div>
      </div>
      <hr />
      <div class="comment-box">
        <form
          method="POST"
          action="{{ url_for('comment_post', post_id=post.id) }}"
        >
          <textarea
            name="comentario"
            rows="2"
            placeholder="Escreva sua reposta..."
            required
          ></textarea>
          <button type="submit">Comentar</button>
        </form>
      </div>

      <hr />

      <h3>Comentários:</h3>
      {% for comentario in comentarios %}
      <div class="post-container comentario-box">
        <div class="user-box">
          <a href="{{ url_for('perfil', usuario=comentario.autor.apelido) }}"
            >{{ comentario.autor.apelido }}</a
          >
        </div>
        <div class="post-content comentario-texto">{{ comentario.texto }}</div>
      </div>
      {% else %}
      <p>Nenhum comentário ainda.</p>
      {% endfor %}
    </div>

    <footer class="nav-footer">
      <nav>
        <a href="{{ url_for('perfil') }}">Perfil</a>
        <a href="{{ url_for('feed') }}">Feed</a>
        <a href="{{ url_for('logout') }}">Sair</a>
      </nav>
    </footer>
    <script>
      /*SCRIPT DE SUMIR A NAV*/
      let lastScroll = 0;
      const navTop = document.querySelector(".nav-top");
      const navFooter = document.querySelector(".nav-footer");

      window.addEventListener("scroll", () => {
        const currentScroll = window.pageYOffset;
        if (currentScroll > lastScroll) {
          navTop.style.transform = "translateY(-100%)";
          navFooter.style.transform = "translateY(100%)";
        } else {
          navTop.style.transform = "translateY(0%)";
          navFooter.style.transform = "translateY(0%)";
        }
        lastScroll = currentScroll;
      });

      /*SCRIPT DE AUMENTAR O TAMANHO DA CAIXINHA DE ESCRITA*/
      document.querySelectorAll("textarea").forEach((t) => {
        t.addEventListener("input", () => {
          t.style.height = "auto";
          t.style.height = t.scrollHeight + "px";
        });
      });
    </script>
  </body>
</html>
