<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Comentários • Opinion</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="nav-top">Opinião de {{ post.autor.apelido }}:</div>
    <div class="container" style="padding-top: 30px">
      <a href="{{ url_for('feed') }}">
        <img
          src="{{ url_for('static', filename='images/arrow.png') }}"
          alt="Voltar"
          class="btn-voltar-img"
        />
      </a>

      <div class="post-container">
        <div class="user-box">
          <a href="{{ url_for('perfil', usuario=post.autor.apelido) }}"
            >{{ post.autor.apelido }}</a
          >
        </div>

        <div class="post-content">
          {{ post.texto }}
          <br />
          <small>{{ tempo }}</small>

          <div class="post-acoes">
            <a
              href="{{ url_for('like_post', post_id=post.id) }}"
              class="like-link"
            >
              {% if liked %}
              <img
                src="{{ url_for('static', filename='images/heart y.png') }}"
                class="icone"
              />
              {% else %}
              <img
                src="{{ url_for('static', filename='images/heart n.webp') }}"
                class="icone"
              />
              {% endif %}
            </a>
            <span class="like-count">{{ likes_count }}</span>
          </div>
        </div>
      </div>
      <hr />

      <div class="container_chat_bot">
        <div class="container-chat-options">
          <div class="chat">
            <form
              method="POST"
              action="{{ url_for('comment_post', post_id=post.id) }}"
              id="commentForm"
            >
              <div class="chat-bot">
                <textarea
                  id="comment_textarea"
                  name="comentario"
                  required
                  placeholder="Escreva sua resposta..."
                ></textarea>
              </div>
              <div class="options">
                <div class="btns-add">
                  <button type="button" id="commentEmojiButton">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill="currentColor"
                        d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12s12-5.373 12-12s-5.373-12-12-12zm-3.5 8c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5s-1.5-.672-1.5-1.5s.672-1.5 1.5-1.5zm7 0c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5s-1.5-.672-1.5-1.5s.672-1.5 1.5-1.5zm-3.5 10c-3.14 0-5.738-2.203-6.49-5h12.98c-.752 2.797-3.35 5-6.49 5z"
                      />
                    </svg>
                  </button>
                </div>
                <button type="submit" class="btn-submit">
                  <i>
                    <svg viewBox="0 0 512 512">
                      <path
                        fill="currentColor"
                        d="M473 39.05a24 24 0 0 0-25.5-5.46L47.47 185h-.08a24 24 0 0 0 1 45.16l.41.13l137.3 58.63a16 16 0 0 0 15.54-3.59L422 80a7.07 7.07 0 0 1 10 10L226.66 310.26a16 16 0 0 0-3.59 15.54l58.65 137.38c.06.2.12.38.19.57c3.2 9.27 11.3 15.81 21.09 16.25h1a24.63 24.63 0 0 0 23-15.46L478.39 64.62A24 24 0 0 0 473 39.05"
                      ></path>
                    </svg>
                  </i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <hr />

      <h3>Comentários:</h3>
      {% for comentario in comentarios %}
      <div class="post-container comentario-box">
        <div class="user-box">
          <a href="{{ url_for('perfil', usuario=comentario.autor.apelido) }}"
            >{{ comentario.autor.apelido }}</a
          >
        </div>
        <div class="post-content comentario-texto">{{ comentario.texto }}</div>
      </div>
      {% else %}
      <p>Nenhum comentário ainda.</p>
      {% endfor %}
    </div>

    <footer class="nav-footer">
      <nav>
        <a href="{{ url_for('feed') }}">
          <img
            src="{{ url_for('static', filename='images/home.png') }}"
            alt="Feed"
            class="icone"
          />
        </a>
        <a href="{{ url_for('search') }}">
          <img
            src="{{ url_for('static', filename='images/search.png') }}"
            alt="Search"
            class="icone"
          />
        </a>

        <a href="{{ url_for('trending') }}">
          <img
            src="{{ url_for('static', filename='images/trending.PNG') }}"
            alt="Trending"
            class="icone"
          />
        </a>
        <a href="{{ url_for('groups') }}">
          <img
            src="{{ url_for('static', filename='images/groups.PNG') }}"
            alt="Groups"
            class="icone"
          />
        </a>
        <a href="{{ url_for('perfil') }}">
          <img
            src="{{ url_for('static', filename='images/perfil.png') }}"
            alt="Perfil"
            class="icone"
          />
        </a>
      </nav>
    </footer>
    <script>
      /*SCRIPT DE SUMIR A NAV*/
      let lastScroll = 0;
      const navFooter = document.querySelector(".nav-footer");

      if (navFooter) {
        window.addEventListener("scroll", () => {
          const currentScroll = window.pageYOffset;
          if (currentScroll > lastScroll) {
            navFooter.style.transform = "translateY(100%)";
          } else {
            navFooter.style.transform = "translateY(0%)";
          }
          lastScroll = currentScroll;
        });
      }

      /*SCRIPT DE AUMENTAR O TAMANHO DA CAIXINHA DE ESCRITA*/
      document.querySelectorAll("textarea").forEach((t) => {
        t.addEventListener("input", () => {
          t.style.height = "auto";
          t.style.height = t.scrollHeight + "px";
        });
      });

      document
        .getElementById("commentEmojiButton")
        .addEventListener("click", function () {
          document.getElementById("comment_textarea").focus();
        });
    </script>
  </body>
</html>
